.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header-ppal {
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #343a40;
}
.App-subheader-height {
    min-height: 40px;
}

.MuiAppBar-root {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
 }

.MuiToolbar-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.MuiToolbar-root {
    display: flex;
    position: relative;
    align-items: center;
}

#headerContainer{
  display: flex;
  font-size: 30px;
  height: 60px;
}

#homeButton:hover{
  cursor: pointer;  
}

#companyName{
  width: 6%;
  margin-left: 36.3%;
  font-size: 30px;
}