.paginaProyectos{
    padding:3%;
    height: 100%;

  }
  #proyectosHeader{
    display: flex;
  }
  
  #tituloProyectos{
    font-weight: bold;
  }
  
  .botonAgregarProyectoContainer{
    margin-left: 38%;
    width: 300px;
  }
  
  #proyectosContainer{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5%;
  } 

  #titlesContainer{
    display: flex;
    margin-left: 10.5%;
    font-size: 25px;
    font-weight: bold;
  }

  #estadoTitle{
    margin-left: 7%;
  }